.contact {
  @include page-grid;

  &__title {
    grid-column: 1 / -1;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__info {
    grid-column: 1 / -1;
    margin-top: 40px;

    @include on-desktop {
      grid-column: 7 / 13;
      margin-top: 0;
    }
  }

  &__field {
    padding: 16px 24px;

    font-family: 'Space Mono', monospace;
    font-size: 16px;

    background-color: #f8f8f8;
    border: 0 solid #e6e6e6;
    border-radius: 8px;

    &--message {
      resize: vertical;
      min-height: 120px;
    }
  }

  &__button {
    padding: 16px 24px;

    font-family: 'Space Mono', monospace;
    font-size: 16px;
    color: #fff;

    background-color: #1c1c1c;
    border: 2px solid #1c1c1c;
    border-radius: 8px;
    cursor: pointer;
    transition:
      background-color $effectDuration,
      color $effectDuration;

    &:hover {
      color: $main-text-color;
      background-color: #f8f8fa;
      border-color: #f0f1f4;
    }

    &:active {
      color: #fff;
      background-color: #000;
    }
  }
}
